<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="wap-font-scale" content="no" />
    <meta name="Keywords" content="e-reader,reader,novel,cube" />
    <meta
      name="Description"
      content="War, Romantic, Fantasy, Society, Adventure, History"
    />
    <title>Online Novel Reader, NOVEL CUBE</title>
    <link href="css/global.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <script
      type="text/javascript"
      src="/novelcube.com/js/jquery-1.9.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/novelcube.com/js/jquery.cookie.js"
    ></script>
    <script type="text/javascript" src="/novelcube.com/js/common.js"></script>
    <script type="text/javascript" src="/novelcube.com/js/domain.js"></script>
    <script
      type="text/javascript"
      src="/novelcube.com/js/nc-reader.js"
    ></script>
    <script type="text/javascript" src="/novelcube.com/js/TSB.js"></script>
    <script type="text/javascript" src="/novelcube.com/js/main.js"></script>
    <script src="/static.nc.com/baidushare/js/logger.js"></script>
    <link
      src="/static.nc.com/baidushare/css/bdsstyle.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <style>
      .header {
        font-size: 24px;
        font-weight: bold;
        display: flex;
        align-items: center;
      }
      .header a {
        width: 24px;
        height: 24px;
      }
    </style>
  </head>

  <body>
    <script type="text/javascript" src="/novelcube.com/js/sort.js"></script>

    <div class="Introduct">
      <!--head-->
      <div class="header">
        <a href="javascript:history.back()" title="Go back">
          <img src="/novelcube.com/images/personal/Group 177.png" />
        </a>
      </div>
      <!--head end-->

      <div class="Introduct_Sub autoHeight">
        <div class="pic" id="Cover">
          <img
            src=""
            width="100%"
            title="妈妈是传说中的勇者，作为女儿的我也以勇者为目标！！"
          />
        </div>
        <div class="sub_r">
          <p class="txtItme">
            <span class="icon icon01"></span>
            <a class="pd introName" href="">さね野郎</a>
          </p>
          <p class="txtItme">
            <span class="icon icon02"></span>
            <a class="pd" href="">欢乐向</a>
            <a class="pd" href="">魔法</a>
          </p>
          <p class="txtItme">
            <span class="icon icon02"></span>
            <a class="pd" href="">少年漫画</a>
            <a class="pd" href="">日本</a>
            <a class="pd" href="">连载中</a>
          </p>
          <p class="txtItme">
            <span class="icon icon03"></span>
            <span class="date">2024-01-19 04:01</span>
          </p>

          <a class="Btn right" id="Subscribe" onclick="addSubscribe(69505)"
            >订阅漫画</a
          >
          <a class="Btn fl" id="continusRead" href="">开始观看</a>
        </div>
      </div>

      <p class="txtDesc autoHeight">这里是简介</p>

      <p
        class="openBtn"
        style="background: rgb(255, 255, 255); height: 10px"
      ></p>
      <ul class="subNav">
        <li>
          <a href="">书签</a>
        </li>
        <li>
          <a href="">目录</a>
        </li>
        <li>
          <a href="">字数</a>
        </li>
        <li>
          <a href="">版权</a>
        </li>
      </ul>
      <div class="rating-container">
        <div class="rating-score">8.3</div>
        <div class="rating-stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="rating-count">288495人评价</div>
      </div>
      <!--章节-->
      <div class="Sub_H2 autoHeight">
        <a class="Seq asc" onclick="sort.asc(jsonData)"></a>
        <a class="Seq desc cur" onclick="sort.desc(jsonData)"></a>
        <p class="SeqT">排序：</p>
        <span class="icon Icon9"></span>
        <span class="Title">章节列表</span>
      </div>
      <!--章节end-->
    </div>

    <div id="Comment_m_Box">
        <div class="newsmain_review" id="Comment_main">
            <a name="comm"></a>
            <div class="newsHot">
                <a name="comm"></a>
                <h3 class="comment_til">热门评论</h3>
                <ul></ul>
            </div>
            <div class="partLine"></div>
                        <div class="newsAll">
                <h3 class="comment_til">最新评论</h3>
                <ul> </ul>
            </div>
        </div>
        <div class="review_btm" >
            <div class="fl" style="position:relative;width:75px;height:45px;display:inline-block;float:left;">
                <a href="#comm"><img src="/static.nc.com/module/images/review3.png" height="16" width="21"><span>11</span></a>
            </div>
            <div class="fl focus" style="position:relative;float:left;">吐槽来一发...</div>
        </div>
        <div class="hide" id="replyeff">发表成功 !</div>
        <div class="mask hide"></div>
        <div class="review_pop hide">
            <textarea maxlength="1000" name="textareadiv"></textarea><div class="visiblity">请输入评论内容...</div>
            <div class="text_length"><span>0</span>/1000字</div>
            <div class="file_img">
                <ul><li class="add_img"></li></ul>
            </div>
            <div class="icon_com hide">
                <img src="/static.nc.com/module/images/icon_com_1.png" height="22" width="22">
                <img src="/static.nc.com/module/images/icon_com_2.png" height="22" width="22">
                <img src="/static.nc.com/module/images/icon_com_3.png" height="22" width="22">
            </div>
            <div class="submit">
                <a id="cancel">取消回复</a><a id="submit">发表回复</a>
            </div>
            <iframe id="upload_target" name="upload_target" src="about:blank" style="display: none"></iframe>
            <input type="hidden" id="hiddenInput" value="">
            <form class="hide" enctype="multipart/form-data" id="uploadForm" action="'+comicUrl+'/api/NewComment2/addImg?cb='+location.origin+'/images/conmment_cd.html" method="post" target="upload_target">
                <input type="file" id="fileupload" accept="image/*" multiple="multiple" name="userfile[]">
                <input type="submit" id="submitImg">
            </form>
        </div>
    </div>

    <script type="text/javascript">
      var obj_id = "69505";
      var authoruid = "";
      var is_Original = "1";
      var comment_type = "4";
      var isToggle = 0;
      var dt = "week";
    </script>
    <script
      type="text/javascript"
      src="/static.nc.com/module/js/mobile_New_Comment_20200309.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="/static.nc.com/public/css/swiper.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static.nc.com/module/css/mobile_n_comment2_17.3.css"
    />
    <script
      type="text/javascript"
      src="/static.nc.com/public/js/swiper.min.js"
    ></script>
    <script>
      function setRating(rating) {
        // Assuming 10 is the highest rating and each full star represents 2 points
        const fullStars = Math.floor(rating / 2);
        let starHtml = "";
        for (let i = 0; i < fullStars; i++) {
          starHtml += '<i class="fa fa-star" aria-hidden="true"></i>';
        }
        if (rating % 2 !== 0) {
          starHtml += '<i class="fa fa-star-half-o" aria-hidden="true"></i>';
        }
        // Fill the rest of the stars as empty
        for (let i = fullStars + 1; i <= 5; i++) {
          starHtml += '<i class="fa fa-star-o" aria-hidden="true"></i>';
        }
        // Ensure the selector matches your HTML element's class or ID
        document.querySelector(".rating-stars").innerHTML = starHtml;
      }
    </script>
  </body>
</html>
