<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="container">
    <h1>Reset Password</h1>
    <form action="{{ url_for('reset_password', user_id=user_id) }}" method="POST">
        <input type="password" name="new_password" placeholder="New Password" required />
        <input type="password" name="confirm_password" placeholder="Confirm New Password" required />
        <button type="submit">Reset Password</button>
    </form>
    <div class="footer">
        <p>Back to <a href="/login.html">Login</a></p>
    </div>
</div>

</body>
</html>
