<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="wap-font-scale" content="no" />
    <meta name="Keywords" content="e-reader,reader,novel,cube" />
    <meta
      name="Description"
      content="War, Romantic, Fantasy, Society, Adventure, History"
    />
    <title>The Boy Who made Beautiful Melodies, NOVEL CUBE</title>

    <link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/domain.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/nc_reader.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/TSB.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='static.nc.com/baidushare/js/logger.js') }}"></script>

    <link
      src="{{ url_for('static', filename='static.nc.com/baidushare/css/bdsstyle.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <style>
      .header {
        font-size: 24px;
        font-weight: bold;
        display: flex;
        align-items: center;
      }
      .header a {
        width: 24px;
        height: 24px;
      }
    </style>
  </head>

  <body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sort.js') }}"></script>

    <div class="Introduct">
      <!--head-->
      <div class="subHeader">
        <div class="BarTit" id="comicName">The Boy Who made Beautiful Melodies</div>
        <a href="javascript:history.back()" class=iconRet title="Go back"></a>
      </div>
      <!--head end-->

      <div class="Introduct_Sub autoHeight">
        <div class="pic" id="Cover">
          <img
            src="{{ url_for('static', filename='webpic/35013/35013.jpg') }}"
            width="100%"
            title="The Story of the Boy Who made Beautiful Melodies"
          />
        </div>
        <div class="sub_r">
          <p class="txtItme">
            <span class="icon icon01"></span>
            <a class="pd" href="">Thomas Tapper</a>
          </p>
          <p class="txtItme">
            <span class="icon icon02"></span>
            <a class="pd" href="">Romantic</a>
            <a class="pd" href="">Tragedy</a>
            <a class="pd" href="">Adventure</a>
          </p>
          <p class="txtItme">
            <span class="icon icon02"></span>
            <a class="pd" href="">Ongoing</a>
            <a class="pd" href=""></a>
          </p>
          <p class="txtItme">
            <span class="icon icon03"></span>
            <span class="date">2011-1-20 20:32</span>
          </p>

          <a class="Btn fl" id="continusRead" href="{{ url_for('static', filename='bibi/index.html', _external=True) }}?book=/static/bibi-bookshelf/pg35013.epub" target="_blank">View</a>
          <form action="/add_to_bookshelf/9" method="post">
            <input type="hidden" name="book_id" value="9">
            <button class="Btn right" id="Subscribe" id="Subscribe">Add</button>
          </form>
        </div>
      </div>

      <p class="txtDesc autoHeight">The Story of the Boy Who made Beautiful Melodies.
      </p>

      <p class="openBtn"></p>
      <ul class="trdNav">
        <li><span>Rating:</span><span>4.8</span></li>
        <li>
          <span>Language:</span><span>EN-US</span>
        </li>
        <li>
          <span>Words:</span><span>5671</span>
        </li>
        <li>
          <span>Publisher:</span><span>Gutenberg</span>
        </li>
      </ul>
      
      <!--章节-->
      <div class="Sub_H2 autoHeight">
        <a class="Seq asc"  onclick="sort.asc(jsonData)"></a>
        <a class="Seq desc cur" onclick="sort.desc(jsonData)"></a>
        <p class="SeqT">Sequence: </p>
        <span class="icon Icon9"></span>
        <span class="Title">List</span>
    </div>

      <div id="list">
        <div class="qjBar"><span>1 Chapters</span></div>
        <ul class="Drama autoHeight">
          <li><a href="" onclick="chapterCookie(35013,143478,1,'Chapter01')"><span>Chapter 01</span></a></li>
        </ul>
      </div>
      <!--章节end-->
    </div>

    <div id="Comment_m_Box">
      <div class="newsmain_review" id="Comment_main">
        <a name="comm"></a>
        <div class="partLine"></div>
        <div class="newsAll">
            <h3 class="comment_til">Latest Review</h3>
            <ul>
                {% for comment in comments %}
                <li>
                    <div class="auimg">
                        <!-- 假设每个用户都有一个图片文件与他们的id匹配，例如 '1.jpg' -->
                        <img src="{{ url_for('static', filename='images/Users/' ~ comment.user.picid ~ '.jpg') }}" alt="Author" width="28px" />
                    </div>
                    <div class="comment-content">
                        <div class="comment_author">{{ comment.user.username }}</div>
                        <div class="comment_date">{{ comment.timestamp.strftime('%Y-%m-%d') }}</div>
                        <p>{{ comment.text }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
            <!-- 添加评论的表单,和你的不一样了，可能差的有点多 -->
            <form action="{{ url_for('pg35013') }}" method="post">
             <textarea name="comment_text" placeholder="Input..." required></textarea>
             <input type="submit" value="Submit">
           </form>
        </div>
    </div>

    <script type="text/javascript">
      var obj_id = "35013";
      var authoruid = "";
      var is_Original = "1";
      var comment_type = "4";
      var isToggle = 0;
      var dt = "week";
    </script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='static.nc.com/module/js/mobile_New_Comment_20200309.js') }}"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='static.nc.com/public/css/swiper.min.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/mobile_n_comment.css') }}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='static.nc.com/public/js/swiper.min.js') }}"
    ></script>
  </body>
</html>
